@import "../../assets/scss/colors";

.footer-wrapper {
  background-color: $black-primary;
  position: relative;
  .top-button {
    width: 30px;
    height: 30px;
    background-color: $blue-secondary;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 166px;
    top: -15px;
  }
}

.footer-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 44px;
  border-bottom: 1px solid $white-primary;

  .social {
    display: flex;
    align-items: center;
  }

  .social img:not(:last-child) {
    margin-right: 16px;
  }

  .social img {
    cursor: pointer;
  }

  .social img:hover {
    opacity: 0.5;
  }

  .social span {
    color: $white-primary;
    margin-right: 35px;
  }
}

.info {
  ul {
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid $white-primary;
  }

  li {
    color: $white-primary;
    list-style: none;
    margin-bottom: 16px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 33px;
  padding-bottom: 33px;

  .copy {
    display: flex;
    flex-direction: column;
  }

  .copy span {
    color: $white-primary;
    font-size: 12px;
    text-align: right;
  }
}
