$white-primary: #ffffff;
$white-secondary: #fafafa;
$white-tertiaty: #e5e5e5;

$black-primary: #000000;

$gray-primary: #333333;
$gray-secondary: #666666;
$gray-tertiary: #e1e1e1;

$blue-primary: #3754e2;

$green-whatsapp: #4ec859;
